*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
img{
    width: 376px;
    height: 325px;
}
.image_galary{
    width: 150px;
    float: left;
    margin-left: 350px;
    background-color: rebeccapurple;
}
.image_galary img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    opacity: .7;
    transition: .5s;
}
.image_galary img:hover{
    opacity: 1; 
    transform: scale(.9) rotate(-15deg);
}
.image_galary img:last-child{
    border-bottom: none;
}
.full_img{
    width: 400px;
    height: 600px;
    margin-top: 86px;
    margin-left: 50px;
    float: left;
}
.full_img img{
    width: 100%;
    height: 100%;
    border:1px solid gray;
    transition: 0.5s;
}
.full_img img:hover{
    transform: scale(.8) rotate(-10deg);
}